#login-header {
  background-color: #0b75d8;
  padding: 0 142px 0 142px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  #brand {
    color: white;
  }

  #navigation {
  }
}
